*, *::before, *::after{
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: #f7f7f7;
}



/* Globales */

div.grid-contenedor{
    background-color: white;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

h1,header,li,p{
    font-family: 'Open Sans', sans-serif;
}

div.menu-contenedor{
    width: 100%;
}

div.logo{
    background-color: #00979D;
    text-align: center;
    height: 80px;
    padding: 30px 10px 0px 10px;
}

div.logo img{
    width:60px;
    
}

div.logo header{
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    display: inline-block;
}
nav#navbar ul{
    display: none;
    margin: 0;
    padding: 0;
}
a.nav-link{
    text-decoration: none;
}

a.nav-link li{
    list-style: none;
    color: #00979D;
    margin: 10px 20px;
    padding-top: 20px;
    width: max-content;
    transition: all .5s ease;
}

a.nav-link:hover li{
    border-bottom: 1px solid #00979D;
    cursor: pointer;
}

/* Menu Movil */
div.menu-movil{
    display: block;
    width: 40px;
    float: left;
    text-align: right;
    margin-top: 12px;
    padding-left: 10px;
}

div.menu-movil span{
    background-color: white;
    height:6px;
    margin-bottom: 6px;
    display: block;
    border-radius: 5px;
}

/* Main */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



main#main-doc{
    

}

section.contenedor{
   
    padding: 20px 20px;
}

section.contenedor header{
    font-size: 2em;
    color: #E67E22;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

section.contenedor p{
    font-size: 1em;
    text-align: justify;
    margin-bottom: 15px;
}

section.contenedor p:last-child{
    margin-bottom: 0;
}

p span{
    color: #00979D;
}

ul li span{
    font-weight: bold;
}

section.contenedor code{
    font-family: 'Inconsolata', monospace;
    color:black;
    background-color: rgb(206, 206, 206);
    padding: 10px 10px;
    
}

section.contenedor img{
    width: 100%;
}

section.contenedor pre{
    font-family: 'Inconsolata', monospace;
    white-space: pre-line;
    padding-left: 10px;
    background-color: #f7f7f7;
}

/* Media Querys */

@media only screen and (min-width: 768px){

    body{
        max-width: 1440px;
        margin: auto;
        
    }
    .grid-contenedor{
        display: flex;

    }

   div.menu-contenedor{
        /* flex-grow: 1; */
        position: sticky;
        height: 100vh;
        box-sizing: border-box;
        top: 0;
    }



    div.menu-movil{
        display: none;
    }

    div.logo{
        text-align: center;
    }

    div.logo img{
        padding-left: 0px;
    }

    nav#navbar ul{
        display: block;
        
    }

  section.contenedor h1{
      margin-top: 10px;
  }
}